<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>rxjs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div>
      <h3>{{ title }}</h3>
    </div>
      <div *ngIf = "message1">
         {{message1}}
      </div>  
    <div>
      <p class="fontTitle">Font-Awesome icon in Angular</p>
      <fa-icon [icon]="faAngular"></fa-icon>
      <fa-icon [icon]="faReact"></fa-icon>
      <fa-icon [icon]="faVue"></fa-icon>
      <fa-icon [icon]="faGithub"></fa-icon>
      <fa-icon [icon]="faSnapchat"></fa-icon>
      <fa-icon [icon]="faFacebook"></fa-icon>
      <fa-icon [icon]="faInstagram"></fa-icon>
      <fa-icon [icon]="faLinkedin"></fa-icon>
      <fa-icon [icon]="faTwitter"></fa-icon>
      <fa-icon [icon]="faYoutube"></fa-icon>
    </div>
  </body>
</html>
