<form [formGroup]="TodoForm">
  <div class="example-container">
    <mat-card-header>
      <mat-card-title>Add Todo </mat-card-title>
    </mat-card-header>
    <mat-form-field appearance="fill">
      <mat-label>Todo Name</mat-label>
      <input
        matInput
        name="title"
        formControlName="title"
        placeholder="Enter Todo name"
        [required]="true"
      />
      <mat-error *ngIf="f.title.invalid && f.title.touched"
        >Please Add Title</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field appearance="fill">
      <mat-label>Todo description</mat-label>
      <input
        matInput
        name="description"
        formControlName="description"
        placeholder="Enter todo description"
        [required]="true"
      />
      <mat-error *ngIf="f.description.invalid && f.description.touched"
        >Please Add Description</mat-error
      >
    </mat-form-field>
    <br /><br />

    <mat-card-actions align="end">
      <button
        [disabled]="TodoForm.invalid"
        mat-raised-button
        type="submit"
        color="primary"
        (click)="addTodo(); TodoForm.reset()"
      >
        Add todo
      </button>
    </mat-card-actions>
  </div>
</form>
